const Discord = require("discord.js");
const config = require("../config.json");
const got = require("got");
module.exports = {
    name: "meme",
    description: "Get a random pic off of dankmemes reddit!",
    usage: "!meme ",
    category: "fun",
    run: async (client, message, args) => {
        // code here
    }
}